@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
header nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 6vh;
}
header nav a{
    margin-right: 2vh;
    margin-left: 2vh;
    color: black;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
.Slider{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider-item{
    position: absolute;
}
.slider-text{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}